@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="box">
    <div class="container">
        <h1 class="title is-1 has-text-centered">Oopology Assesment</h1>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h3 class="title is-3 has-text-centered">Assess Yourself</h3>
                    <h4 class="subtitle has-text-centered">Achieve enlightenment and happiness</h4>
                    <div style="font-size: 10px; margin-top: 40px;"></div>
                    <p style="text-align: justify;">
                        Oopology offers a unique approach to personal growth and self-discovery and provides opportunities for individuals to improve their understanding of themselves and the world around them.<br> 
                        One of the key ways to do this is by assessing your knowledge of the core values of Oopology.<br>
                        For this reason, experienced Oopologists have developed the first Oopology Principles Assessment Tool (OPAT) that will help you determine which courses are most suitable for you and will bring you closer to the ultimate truth.<br>
                        OPAT is designed to provide you with a deeper understanding of yourself and the areas in which you need to grow and improve.
                        Submit your answers today and you will have clear insight into what steps you need to take to achieve your goals and become the best version of yourself.<br>
                        Although this assessment is complimentary, we highly encourage you to consider making a donation. Follow this  <a href="/home/donation">link</a> and make a donation now. Keep in mind that the benefits of what Oopology offers surpasses any monetary value and the more you give to Oopology, the more you will grow as an individual.
                     </p>                    
                </div>

            </div>
            <div class="column">
                <div class="box">
                    <h3 class="title is-3 has-text-centered">Oopology Principles Assessment Tool</h3>
                    <form class="form-horizontal" method="post" action="Results">
                    <div class="field">
                        <label class="label">Question 1: What is the basic building block of an object-oriented program?</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="question1" value="A" required>
                                    A) Variable
                            </label>
                            <label class="radio">
                                <input type="radio" name="question1" value="B" required>
                                    B) Function
                            </label>
                            <label class="radio">
                                <input type="radio" name="question1" value="C" required>
                                    C) Class
                            </label>
                            <label class="radio">
                                <input type="radio" name="question1" value="D" required>
                                    D) Array
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Question 2: What is the mechanism for code reuse in object-oriented programming?</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="question2" value="A" required>
                                   A) Recursion
                            </label>
                            <label class="radio">
                                <input type="radio" name="question2" value="B" required>
                                    B) Inheritance
                            </label>
                            <label class="radio">
                                <input type="radio" name="question2" value="C" required>
                                    C) Abstraction
                            </label>
                            <label class="radio">
                                <input type="radio" name="question2" value="D" required>
                                    D) Encapsulation
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Question 3: What is a blueprint for creating objects?</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="question3" value="A" required>
                                    A) Class
                            </label>
                            <label class="radio">
                                <input type="radio" name="question3" value="B" required>
                                    B) Object
                            </label>
                            <label class="radio">
                                <input type="radio" name="question3" value="C" required>
                                    C) Method
                            </label>
                            <label class="radio">
                                <input type="radio" name="question3" value="D" required>
                                    D) Constructor
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Question 4: What is a property of an object?</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="question4" value="A" required>
                                    A) Inheritance
                            </label>
                            <label class="radio">
                                <input type="radio" name="question4" value="B" required>
                                    B) Method
                            </label>
                            <label class="radio">
                                <input type="radio" name="question4" value="C" required>
                                    C) Class
                            </label>
                            <label class="radio">
                                <input type="radio" name="question4" value="D" required>
                                    D) Attribute
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Question 5: What is the term for the ability of an object to take on multiple forms?</label>
                        <div class="control">
                            <label class="radio">
                                    <input type="radio" name="question5" value="A" required>
                                A) Polymorphism
                            </label>
                            <label class="radio">
                                    <input type="radio" name="question5" value="B" required>
                                B) Abstraction
                            </label>
                            <label class="radio">
                                    <input type="radio" name="question5" value="C" required>
                                C) Encapsulation
                            </label>
                            <label class="radio">
                                    <input type="radio" name="question5" value="D" required>
                                D) Inheritance
                            </label>
                        </div>
                    </div>

                        <div class="field is-grouped" style="display: flex; align-items: center; justify-content: center;">
                            <div class="control">
                                <button class="button is-dark">Submit</button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>