@{
}

<div class="box">
    <div class="container">
        <h1 class="title is-1 has-text-centered" style="font-size: 7em;">Congratulations!</h1>
            <div class="container has-text-centered">
                <div class="box" style="max-width: 50%; margin: 0 auto;">
                    <h1 class="title is-3" style="font-size: 4em;">Donation Accepted</h1>
                    <h1 class="title is-3" style="font-size: 2em;">Indulge in the sense of fulfillment</h1>
                    <p style="text-align: justify;">
                        Congratulations your donation has been accepted! This is one of your greatest achievements, as donations are not always accepted by Oopology. This means that you have met the criteria for acceptance and can take pride in your donation.<br>
                        Keep up the good work and enjoy the satisfaction of your donation.<br>
                        Upon assessment of your donation, your experience level will be upgraded, which you will be able to view in the near future on this <a href="/home/userexpirience">page</a>.<br>
                        Take a moment to reflect on your actions that led to this success and continue donating to Oopology today.<br>
                        Remember, donation opportunities may change in the future, so don't miss the opportunity to become a better version of yourself and follow this <a href="/home/donation">link</a> to donate more today.           
                    </p>
                </div>
            </div>
    </div>
</div>