@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .p2 {
        font-family: 'Colonna MT', sans-serif;
        text-decoration: none;
        font-weight: initial;
        color: black;
        font-size: 60px;
    }

    .p3 {
        font-family: 'Colonna MT', sans-serif;
        text-decoration: none;
        font-weight: lighter;
        color: black;
        font-size: 30px;
    }


</style>
<div> 
<h3> Welcome to</h3> <p class="p2">OOPOLOGY</p>
    <br/>
    <br/>

    <table class="p3">
            <tr>
                <td><a href="/signup" id="signup">Sign Up </a> </td>
                <td>|</td>
                <td><a href="/login" id="login">Log In</a></td>
            </tr>
        </table>   
    
    </div>
<br />
<div> 
<video controls="controls" autoplay="autoplay">
    <source src="/videos/Welcome.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video> 
</div>

<h3>OOPOLOGY courses are launching Friday 27 January 2023</h3>
<h3>Click below to preview</h3>
<div class>
    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index"> <img src="~/images/Opology-101.png" style="width:384px;height:683px"> <img src="~/images/Opology-102.png"  style="width:384px;height:683px"> </a>

</div>

