<style>

</style>
<h1>Are you sure you want to sign out?</h1>
<div class="container">
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SignOut5", "Home")'">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
    <button type="button" class="btn btn-primary">Yes, I'm sure</button>
</div>
@*//x = 2, y = -11
*@