################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oopology/obj/Debug/net7.0/Oopology.GeneratedMSBuildEditorConfig.editorconfig
/.vs/She-Zarp-Oopology/FileContentIndex/read.lock
/.vs/She-Zarp-Oopology/FileContentIndex/fcc89eac-296e-4464-a710-2304ee4fca69.vsidx
/.vs/She-Zarp-Oopology/FileContentIndex/eb93c9df-c4ca-43a5-924d-f94750eda2b0.vsidx
/.vs/She-Zarp-Oopology/FileContentIndex/bd507bd9-c840-471f-bdf7-36c0d83f7214.vsidx
/.vs/She-Zarp-Oopology/FileContentIndex/3188a6f6-4c00-417c-8dd3-ad4d5a23b288.vsidx
/.vs/She-Zarp-Oopology
/.vs
/Oopology/obj/Debug/net7.0/Oopology.csproj.CoreCompileInputs.cache
/Oopology/obj/Debug/net7.0/refint/Oopology.dll
/Oopology/obj/Debug/net7.0/Oopology.dll
/Oopology/obj/Debug/net7.0/Oopology.csproj.FileListAbsolute.txt
/Oopology/obj/Debug/net7.0/Oopology.csproj.AssemblyReference.cache
/Oopology/obj/Debug/net7.0/Oopology.assets.cache
/Oopology/obj/Debug/net7.0/apphost.exe
/Oopology/bin/Debug/net7.0/Oopology.staticwebassets.runtime.json
/Oopology/bin/Debug/net7.0/Oopology.pdb
/Oopology/bin/Debug/net7.0/Oopology.exe
/Oopology/bin/Debug/net7.0/Oopology.dll
/Oopology/obj/Release/net7.0/Oopology.RazorAssemblyInfo.cs
/Oopology/obj/Release/net7.0/Oopology.RazorAssemblyInfo.cache
/Oopology/obj/Release/net7.0/Oopology.GlobalUsings.g.cs
/Oopology/obj/Release/net7.0/Oopology.GeneratedMSBuildEditorConfig.editorconfig
/Oopology/obj/Release/net7.0/Oopology.csproj.AssemblyReference.cache
/Oopology/obj/Release/net7.0/Oopology.assets.cache
/Oopology/obj/Release/net7.0/Oopology.AssemblyInfoInputs.cache
/Oopology/obj/Release/net7.0/Oopology.AssemblyInfo.cs
/Oopology/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Oopology/obj/Release/net7.0
/Oopology/obj/Debug/net7.0/staticwebassets.pack.json
/Oopology/obj/Debug/net7.0/staticwebassets.development.json
/Oopology/obj/Debug/net7.0/staticwebassets.build.json
/Oopology/obj/Debug/net7.0/Oopology.pdb
/Oopology/obj/Debug/net7.0/Oopology.genruntimeconfig.cache
/Oopology/obj/Debug/net7.0/ref/Oopology.dll
/.gitignore.txt
/Oopology/bin/Debug/net7.0/Oopology.dll
/Oopology/obj/Debug/net7.0/ref/Oopology.dll
/Oopology/obj/Debug/net7.0/refint/Oopology.dll
