################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Oopology/DesignTimeBuild/.dtbcache.v2
/.vs/Oopology/FileContentIndex/0877dba2-5037-4fa2-a862-3d755925db95.vsidx
/.vs/Oopology/FileContentIndex/13312831-3b51-4712-8418-fa507ae7a20c.vsidx
/.vs/Oopology/FileContentIndex/249bb58e-dca4-4d81-8e89-f5d2fcf4fae0.vsidx
/.vs/Oopology/FileContentIndex/67020c20-33c4-43f0-b07f-f8258f943139.vsidx
/.vs/Oopology/FileContentIndex/d6a2fb42-cf1c-4055-b1ec-5c375b94345a.vsidx
/.vs/Oopology/FileContentIndex/fb90c338-2f7b-4d89-8215-c3aba8b29edf.vsidx
/.vs/Oopology/v17/.futdcache.v2
/.vs/Oopology/FileContentIndex/13312831-3b51-4712-8418-fa507ae7a20c.vsidx
/.vs/Oopology/FileContentIndex/13312831-3b51-4712-8418-fa507ae7a20c.vsidx
/.vs/Oopology/FileContentIndex/249bb58e-dca4-4d81-8e89-f5d2fcf4fae0.vsidx
/.vs/Oopology/FileContentIndex/d6a2fb42-cf1c-4055-b1ec-5c375b94345a.vsidx
/.vs/ProjectEvaluation/oopology.metadata.v5.2
/.vs/ProjectEvaluation/oopology.projects.v5.2
/.vs/Oopology/v17/.suo
/.vs/She-Zarp-Oopology
/Oopology
/.vs
