################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.vsidx
/Oopology.Tests/bin/Debug/net7.0
/Oopology/bin/Debug/net7.0
