@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@using System.Drawing
@model IEnumerable<Oopology.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>OUR COURSES</h1>

@foreach (var course in Model)
{
    <partial name="_CourseCard" model="course"/>
}

<br/>