@model IEnumerable<Oopology.Models.Post>
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Posts";

}
<style>
	body {
		background-color: #f2f2f2;
		font-family: sans-serif;
	}

	.blog-posts {
		margin: 0 auto;
		width: 80%;
		padding: 20px;
	}

	.blog-post {
		background-color: #fff;
		margin-bottom: 20px;
		padding: 20px;
		box-shadow: 0 0 10px #ddd;
	}

		.blog-post h2 {
			margin-top: 0;
			margin-bottom: 10px;
		}

		.blog-post p {
			margin-bottom: 10px;
		}

		.blog-post a {
			color: #666;
			text-decoration: none;
		}
</style>
<form action="/posts" method="post">
	<input type="text" name="content" />
	<input type="submit" value="Submit" />
</form>
<h1>Posts</h1>


    <tbody>
        @foreach (var item in Model)
    {
            <div>
            <tr>
            <p style="font-weight: bold;">@item.User.Name :</p>
                <br>
                <td>@item.Content</td>
                <br>
                <br>
                <br>
            </tr>
            </div>
        }
    </tbody>
