@model Oopology.Models.User

<h1>@Model.Name's Dashboard</h1>

<h2>XP Level: @Model.XpLevel</h2>

<h3>Purchases:</h3>
<ul>
    @foreach (var purchase in Model.Purchases)
    {
        <li>@purchase.Course.Title £@purchase.Price</li>
    }
</ul>